@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  padding: 20px;
}

.phone {
  width: 300px;
  height: 600px;
  padding: 40px 15px;
  background-color: #f8f8f8;
  border-radius: 60px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
    inset -3px -3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.screen {
  padding: 0 10px;
  height: 500px;
  width: 100%;
  background-image: linear-gradient(
    rgba(216, 216, 216, 0) 0%,
    rgba(216, 216, 216, 0.3) 90%,
    rgba(216, 216, 216, 1) 95%
  );
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  color: rgb(83, 83, 83);
}

.header i {
  font-size: 13px;
}

.header h4 {
  font-size: 15px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-font {
  font-size: 10px;
  color: #e74859;
  font-weight: 700;
}

.photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.photo {
  width: 120px;
  height: 80px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.8)),
    url("../image/food.jpg");
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.recipes {
  width: 100%;
  list-style: none;
  padding: 0;
}

.recipe-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe {
  padding: 10px;
  background-color: #fdfdfd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.recipe-text {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: black;
}

.title {
  font-weight: 700;
  opacity: 0.8;
}

.count {
  opacity: 0.5;
}

.recipe i {
  color: #e74859;
  font-size: 13px;
}

nav {
  box-sizing: border-box;
  height: 60px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 90%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(83, 83, 83);
  margin-bottom: 10px;
  border-radius: 0px 0px 30px 30px;
}

nav i:nth-child(2) {
  color: #e74859;
}
