@import url("reset.css");
@import url("frame.css");
@import url("nav.css");
@import url("main.css");
@import url("detail.css");

body {
  padding: 50px 160px;
  /* background-color: #EDF0F6; */
  background-image: url("../image/bgimage.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: black;
}
